VisualStudio/Release/AMXconvert.tlog/rc.write.1.tlog
VisualStudio/Release/AMXconvert.tlog/
VisualStudio/Debug/
VisualStudio/Release/
VisualStudio/AMX2wav/release/
VisualStudio/AMX2wav/_UpgradeReport_Files/
amxSetup/amxSetup/Express/
VisualStudio/AMX2wav/DSG2wav/Release/
VisualStudio/AMX2wav/DSG2wav/Debug/
VisualStudio/AMX2wav/DSG2wav.suo.old
VisualStudio/AMX2wav/DSG2wav.sln.old
VisualStudio/AMX2wav/DSG2wav/DSG2wav.vcproj.8.00.old
VisualStudio/_AUDI_HMS_ 0_ 5_ 0__DMY_31_12_1999.wav
VisualStudio/AMX2wav/DSG2wav/DSG2wav.vcxproj.filters
VisualStudio/_IMU
VisualStudio/_PT
VisualStudio/_ligh_HMS_ 0_ 5_ 0__DMY_31_12_1999.wav
VisualStudio/setup/AMXsetup.SED
VisualStudio/setup/setup.bat
*.SchDocPreview
*.PcbDocPreview
*.Zip
*.LOG
*.tmp
